{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>

    <!-- ESTILOS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>

    <!-- NAVBAR -->
    {% include 'includes/navbar.html' %}

    <!-- ASIDE -->
    {% if user.is_authenticated %}
        <aside class="layout-aside">
            {% if user.rol.nombre == 'Coordinador Académico' %}
                {% include 'includes/aside_coordinador.html' %}
            {% elif user.rol.nombre == 'Docente' %}
                {% include 'includes/aside_docente.html' %}
            {% endif %}
        </aside>
    {% endif %}

    <!-- CONTENIDO -->
    <main class="layout-content">
        {% block contenido %}{% endblock %}
    </main>

    <!-- FOOTER -->
    {% include 'includes/footer.html' %}

    <!-- SCRIPTS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    {% block extra_css_js %}{% endblock %}
</body>
</html>