{% extends 'base.html' %}
{% block titulo %}Acerca de la institución{% endblock %}
{% include 'navbar.html' %}
{% block contenido %}
    <h3 class ="text-center" style="color: rgb(14, 99, 203);">ACERCA DE NOSOTROS</h3>
    
    <h2 style="color: rgb(223, 223, 230);">Sistema Escolar es una plataforma digital diseñada para apoyar la gestión académica de instituciones educativas, facilitando la administración de estudiantes, docentes, asignaturas y procesos académicos de manera eficiente y segura.

Nuestro sistema busca optimizar el manejo de la información académica, reducir procesos manuales y mejorar la comunicación entre los diferentes actores de la comunidad educativa, promoviendo el uso responsable de la tecnología en el ámbito educativo.

Esta aplicación ha sido desarrollada como un proyecto formativo, aplicando buenas prácticas de desarrollo de software y tecnologías modernas para garantizar una experiencia intuitiva y confiable.</h2>

{% endblock %}
{% include 'includes/footer.html' %}