{% extends 'base.html' %}
{% block titulo %}Acerca de la institución{% endblock %}
{% include 'navbar.html' %}
{% block contenido %}
    <h1>ACERCA DE NOSOTROS</h1>
    <p>Bienvenido al Sistema Escolar, una plataforma desarrollada para optimizar la gestión académica, administrativa y comunicacional dentro de las instituciones educativas. Nuestro objetivo es brindar herramientas modernas y eficientes que faciliten el trabajo de docentes, alumnos, padres de familia y personal administrativo.</p>

    <p>El sistema integra en un solo lugar funciones esenciales como el control de calificaciones, seguimiento de asistencia, administración de grupos y horarios, gestión de usuarios, generación de reportes y comunicación interna. Gracias a su diseño intuitivo y fácil de usar, permite agilizar procesos y reducir la carga administrativa, garantizando información confiable y actualizada en todo momento.</p>

    <p>Nos comprometemos a ofrecer una solución tecnológica segura, flexible y en constante mejora, adaptada a las necesidades reales del entorno escolar. Nuestro propósito es contribuir al avance educativo mediante una plataforma que apoye el aprendizaje, fortalezca la organización interna y promueva una experiencia digital más eficiente para toda la comunidad escolar.</p>
{% endblock %}
{% include 'includes/footer.html' %}