{% extends 'base.html' %}
{% block titulo %}Contáctanos{% endblock %}
{% include 'navbar.html' %}
{% block contenido %}
    <section class="container my-5">
    <h2 class="text-center mb-4" class ="text-center" style="color: rgb(14, 99, 203);">Contáctanos</h2>

    <div class="contact-info mx-auto">
        <h3 class="mb-2" style="color: white;">
            ¿Tienes dudas, sugerencias o necesitas soporte?
        </h3>
        <p class="mb-4" style="color: white;">
            Estamos disponibles para ayudarte y acompañarte en el uso del sistema.
        </p>

        <h2 style="color: white;"><strong>📧 Correo electrónico:</strong> soporte@sistemaescolar.edu</h2>
        <h2 style="color: white;"><strong>📍 Dirección:</strong> Medellín, Colombia</h2>
        <h2 style="color: white;"><strong>📱 Teléfono:</strong> +57 300 000 0000</h2>
        <h2 style="color: white;"><strong>🕒 Horario de atención:</strong></h2>
        <p class="ms-3" style="color: white;">Lunes a viernes de 8:00 a.m. a 5:00 p.m.</p>
    </div>
</section>
{% endblock %}
{% include 'includes/footer.html' %}